

<div class="row">
    <div class="col s10">
        <table id="tbl-contact-numbers">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="contact-number-header">Number</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="contact-numbers-body">
            </tbody>
        </table>
    </div>
</div>


<div class="row">
    <div class="input-field col s9">
        <i class="material-icons prefix">phone</i>
        <input id="input-contact-number" type="tel" class="validate">
        <label for="input-contact-number">Add new number *</label>
    </div>
    <div class="input-field col s3">
        <a class="btn-floating waves-effect waves-light red" id="add-new-number"><i class="material-icons">add</i></a>
    </div>

</div>
