<div id="updatecontactmodal" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="update-id" type="text" style="display: none">
                <input id="update-first-name" type="text" class="validate">
                <label for="update-first-name">First Name</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="update-last-name" type="text" class="validate">
                <label for="update-last-name">Last Name</label>
            </div>
        </div>


        <div class="row">
            <div class="input-field col s12">
                <a class="waves-effect waves-light btn" id="update-contact">Update <i class="material-icons right">send</i></a>
            </div>
        </div>

    </div>

</div>
